<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="~/Style/AdminStyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="container-fluid">
                <div class="row col-md-12">
                    <div class="col-md-2 slidebar fixed-top">
                        <a href="#" class="navbar-brand d-block text-center py-3 mb-4 bottom-border">
                            <span class="text-warning">Mobile</span>
                            <span class="text-white">Bazaar</span>
                        </a>
                        <ul class="navbar-nav flex-column mt-5">
                            <li class="nav-item mt-4">
                                <a href="@Url.Action("ProductDetails","Admin")" class="nav-link text-white slidebar-link current">
                                    <i class="fas fa-columns mr-2"></i>Product Dashboard
                                </a>
                            </li>
                            <li class="nav-item mt-4">
                                <a href="@Url.Action("NewProduct","Admin")" class="nav-link text-white slidebar-link">
                                    <i class="fab fa-product-hunt mr-2"></i>Add Product
                                </a>
                            </li>
                            <li class="nav-item mt-4">
                                <a href="@Url.Action("ShowQuantity","Admin")" class="nav-link text-white slidebar-link">
                                    <i class="fas fa-folder-plus mr-2"></i>Check Quantity
                                </a>
                            </li>
                            <li class="nav-item mt-4">
                                <a href="@Url.Action("ShowAllOrders","Admin")" class="nav-link text-white slidebar-link">
                                    <i class="fas fa-shopping-cart mr-2"></i>Orders
                                </a>
                            </li>
                            <li class="nav-item mt-4">
                                <a href="@Url.Action("ShowMessage","Admin")" class="nav-link text-white slidebar-link">
                                    <i class="fas fa-envelope mr-2"></i>Inbox
                                </a>
                            </li>
                            

                        </ul>
                    </div>
                    <div class="col-md-10 fixed-top ml-auto top-navbar">
                        <div class="row bg-dark p-3">
                            <div class="col-md-6">
                                <h1 class="text-success">Admin</h1>
                            </div>
                            <div class="col-md-6 d-flex align-items-center justify-content-end">
                                <h5 class="text-danger"><i class="fas fa-sign-out-alt mr-2"></i>LogOut</h5>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 ml-auto">
                @RenderBody()
            </div>
           
        </div>

    </div>
   
</body>
</html>
