@model IEnumerable<MyApp.Model.ProductModel>

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@{
    if (ViewData["Deleted"] != null)
    {
        if (ViewData["Deleted"].Equals("True"))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">Deleted Succesfully</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
}

<div class="">
    @using (Html.BeginForm("SearchResult","Admin",FormMethod.Post))
    {
    <div class="form-row" style="margin-top: 100px;">

        @Html.Label("Search", new { @class="col-md-3 control-label d-flex justify-content-end align-items-center h5"})

        <div class="col-md-6">
            @Html.TextBox("searchText", null, new {@class="form-control"})
        </div>

        <button type="submit" class="btn btn-primary mb-2 col-md-2">Search</button>
    </div>
        
    }
</div>
    <table class="table table-bordered table-striped mt-3">
        <tr class="thead-dark">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warranty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.ActionLink("Edit", "ProductEdit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "ShowDetails", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ProductID })
                </td>
            </tr>
            <script>
                 console.log(@item.ProductID);
            </script>
        }

    </table>
